{% extends 'common/base.html' %}
{%  load placeholder_filter %}
{% block content %}
<!-- Starts Main Section -->
<main>

    <!-- Start Login Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Login Form-->
            <form method="post">
                {% csrf_token %}
               <p>
                   {{ form.username|placeholder:"Email" }}
                   {{ form.username.errors }}
               </p>

                <p>
                    {{ form.password|placeholder:"Password" }}
                    {{ form.password.errors }}
                </p>
                <!-- Login Button-->
                <button type="submit">Log in</button>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="second-option">

            <!-- Link to Register Page-->
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
    <!-- End Login Section-->

</main>
<!-- End Main Section -->
{% endblock %}
