{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <!-- Starts Main Section -->
    <main>
      <!-- Start Profile Details Section -->
      <div class="profile">
        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
          <div class="profile_img">
            <div class="image">
              <!-- Profile Image -->
              {% include "common/profile-image.html" with profile_picture=object.profile_picture %}
            </div>
          </div>
          <div class="personal">
            <div class="edit">
              <!-- User Username -->
              <p>{{ object.user.email }}</p>

              <!-- IF the viewer is the owner of the profile -->
              <!-- Link to Edit Profile Page -->
                {% if request.user.pk == profile.pk %}
                  <a href="{% url 'profile-edit' request.user.pk %}">
                    <img
                      class="edit-img"
                      src="{% static 'images/edit-pen-icon-6.jpg' %}"
                      alt="edit button"
                    />
                  </a>

                  <!-- Link to Delete Profile Page -->
                  <a href="{% url 'profile-delete' request.user.pk %}">
                    <img
                      class="bin-img"
                      src="{% static 'images/icon-remove-22.jpg' %}"
                      alt="bin button"
                    />
                  </a>
                {% endif %}
              <!-- End IF the viewer is the owner of the profile -->
            </div>
            <div class="data">
              <!-- Total Number of Photos by the User -->
              <span>{{ photos_count }}</span>
              <p>photos</p>

              <!-- Total Number of Pets owned by the User -->
              <span>{{ pets_count }}</span>
              <p>pets</p>

              <!-- Total Number of Likes for the User -->
              <span>{{ total_likes }}</span>
              <p>likes</p>
            </div>
            <!-- User First and Last Name IF Added -->
            <h3 class="names">{{ profile.full_name }}</h3>

          </div>
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->
        <div class="pets">
          <div class="statuses">
              {% for pet in object.user.pet_set.all %}
                <!-- Start 1st Pet Details Page -->
                <!-- Link to First Pet Details Page -->
                <a href="{% url 'details_pet' object.full_name|default:'anonymous' pet.slug %}">
                  <div class="head-pet">
                    <div class="status">
                      <div class="image">
                        <!-- Pet Image -->
                        <img
                          src="{{ pet.personal_photo }}"
                          alt="pet img"
                        />
                      </div>
                    </div>
                    <!-- Pet Name -->
                    <p>{{ pet.name }}</p>
                  </div>
                </a>
              {% endfor %}
            <!-- End 1st Pet Details Page -->
          </div>
        </div>



        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">
            {% for photo in object.user.photo_set.all %}
              <!-- Link to Last Uploaded Pet Photo -->
              <a href="{% url 'details_photo' photo.pk %}">
                <!-- Pet Photo -->
                <img
                  src="{{ photo.photo.url }}"
                  alt="pet img"
                />
            {% empty %}
              <!-- IF NO Posts Show No Post Image -->

                <img
                  class="no-posts"
                  src="{%  static 'images/no_posts.png' %}"
                  alt="no posts"
                />
                  </a>
            {% endfor %}

      </div>

      <!-- End Profile Details Section -->
    </main>
    <!-- End Main Section -->

{% endblock %}